{% extends 'base.html' %}
{% block title %}New Task{% endblock %}

{% block content %}
<div class="container">
    <br>
    <form action="{% url 'add_task' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="tasktitle" class="form-label">Task title</label>
            <input name="title" type="text" class="form-control" id="tasktitle" required>
        </div>
        <div class="mb-3">
            <label for="taskdescription" class="form-label">Task description</label>
            <textarea class="form-control" name="description" id="taskdescription" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <select class="form-select form-select-sm" aria-label="Small select example" name="status">
                {% for option, value in statuses %}
                    <option value="{{ option }}"> {{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="deadline">Deadline:</label>
            <input type="date" id="deadline" name="deadline" class="form-control">
        </div>
        <input type="submit" class="btn btn-outline-success">
    </form>
</div>
{% endblock %}
