{% extends 'base.html' %}
{% block title %}Task {{ task.pk }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        Task #{{ task.id }}
                    </div>
                    <div class="col-md-2 offset-md-1">
                        <a href="{% url 'edit_task' task.id %}" class="btn btn-outline-primary">Edit task</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <pre class="card-text">{{ task.description }}</pre>
                <p class="card-text">{{ task.get_status_display }}</p>
                <p class="card-text">{{ task.deadline|date:"Y-m-d" }}</p>
                <div class="row justify-content-md-center">
                    <div class="col col-lg-2">
                        <a href="{% url 'home' %}" class="btn btn-outline-success">Return</a>
                    </div>
                    <div class="col col-lg-2">
                        <a class="btn btn-outline-danger" data-bs-toggle="modal"
                           data-bs-target="#staticBackdrop">Delete</a>
                    </div>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete task {{ task.id }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h3>Are you sure?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        close
                                    </button>
                                    <form action="{% url 'delete_task' task.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}