{% extends 'base.html' %}
{% block title %}Task {{ task.pk }}{% endblock %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Task #{{ task.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <pre class="card-text">{{ task.description }}</pre>
            <p class="card-text">{{ task.get_status_display }}</p>
            <p class="card-text">{{ task.deadline|date:"Y-m-d" }}</p>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <a href="{% url 'home' %}" class="btn btn-outline-success">Return</a>
                </div>
                <div class="col col-lg-2">
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}